.search-bar{
    display: flex;
    background-color: rgb(229, 229, 255);
    border-radius: 40px;
    margin:50px auto;
    width: 400px;
    box-shadow: inset;
    overflow: hidden;
}
button{
    border: none;
    border-radius: 40px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(205, 205, 255);
    width: 30px;
    cursor: pointer;
}
button mat-icon {
    max-width: 18px;
    max-height: 18px;
}
button:hover{
    background-color: rgb(220, 220, 255);
}
input{
    all:unset;
    flex-grow: 1;
    padding: 10px 20px;
}